:root {
  --horizontal-spacing: 20px;
  --food-list-vpadding: 8px;
}

main {
  margin: 124px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: calc(16px - var(--food-list-vpadding));
}

main > section h2 {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;
  color: var(--gray-700);
  margin: 0 var(--horizontal-spacing);
}

.food-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: var(--food-list-vpadding) var(--horizontal-spacing);
}

.food-list article {
  width: 172px;
  min-width: 172px;
  background: var(--white);
  border-radius: 9px;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
}

.food-list article.selected {
  box-shadow: var(--shadow-3);
}

.food-list article img {
  width: 100%;
  height: 87px;
  object-fit: cover;
  border-radius: 4px;
  object-position: 0 20%;
}

.food-list h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-700);
}

.food-list p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-200);
}

.food-list h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  margin-top: auto;
}

header {
  height: 92px;
  background: var(--red-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--horizontal-spacing);
  gap: 6px;
  box-shadow: var(--shadow-1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header > h1 {
  font-size: 44px;
  line-height: 35px;
  letter-spacing: -0.012em;
  color: var(--white);
}

header > p {
  font-size: 18px;
  line-height: 16px;
  color: var(--white);
}

footer {
  padding: 16px 20px;
  background: var(--white);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

#finish-order {
  width: 100%;
  height: 62px;
  background-color: var(--green-500);
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 18px;
  color: var(--white);
  transition: filter ease 0.2s;
}

.container-alert.hidden {
  display: none;
}

.container-alert {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.8);
  display: grid;
  place-content: center;
}

.alert {
  width: min(100vw, 377px);
  background: var(--green-300);
  box-shadow: var(--shadow-4);
  color: var(--white);
  border-radius: 9px;
  padding: 24px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.alert h3 {
  font-weight: 700;
  font-size: 22px;
}

.alert .order,
.alert table {
  width: 100%;
}

.alert table td {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.018em;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}
.alert table tr:last-child td {
  font-weight: 700;
}

.alert table tr:not(:last-child) td {
  padding-bottom: 16px;
}
.alert table td:nth-child(odd) {
  text-align: left;
}
.alert table td:nth-child(even) {
  text-align: right;
}

.alert .actions > button {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.018em;
  width: 100%;
  height: 52px;
  outline: none;
  border: none;
  background: none;
}

.alert .actions > button#confirm-order {
  background-color: var(--white);
  color: var(--green-300);
  border-radius: 50px;
}
.alert .actions > button#cancel-order {
  color: var(--white);
}

/* UX adjusts */
button,
#finish-order {
  cursor: pointer;
}
button:hover,
#finish-order:hover {
  filter: brightness(0.9);
}
button:active,
#finish-order:active {
  filter: brightness(0.75);
}

#finish-order:disabled {
  background-color: var(--gray-100);
  cursor: initial;
}
#finish-order:disabled:hover,
#finish-order:disabled:active {
  filter: none;
}
